<a href="https://colab.research.google.com/github/vaibhav-arde/pythonNotes/blob/main/letsCodeWithPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduction
#
What is Python?

Python is a general-purpose programming language that is used for a wide variety of tasks, including web development, data science, machine learning, and artificial intelligence. It is a high-level language, which means that it is easy to learn and read. Python is also an interpreted language, which means that it does not need to be compiled before it can be run.

#
Why learn Python?

Python is a general-purpose programming language that is used for a wide variety of tasks, including web development, data science, machine learning, and artificial intelligence. It is a high-level language, which means that it is easy to learn and read. Python is also an interpreted language, which means that it does not need to be compiled before it can be run.

#
Python basics

variables, data types, operators, etc.


#Python fundamentals

Control flow statements (if, elif, else)

Functions

Loops

Modules and packages

Object-oriented programming in Python

Classes and objects

Inheritance

Polymorphism

#Python libraries and frameworks

NumPy

Pandas

Matplotlib

Seaborn

Scikit-learn

TensorFlow

PyTorch

#Python for data science

Data cleaning and preprocessing

Exploratory data analysis

Machine learning

Data visualization

#Python for web development

Django

Flask

Requests

Beautiful Soup

#Python for other applications

Game development

System administration

DevOps

In [1]:
#===================================================

## Python basics

Variables

Variables are used to store data in Python. A variable is declared by assigning it a value. For example:

In [2]:
name = "Alice"
age = 30
height = 5.8
is_student = True

Data types:

Python has a number of built-in data types, such as integers, floats, strings, and lists. The data type of a variable determines how it can be used. For example, an integer cannot be added to a string.

    Premitive Data Types:
        character
        string (str)
        integer (int)
        float (float)
        boolean (bool)
        complex # complex number (real number + imaginary number)

    Non-premitive Data Types:
        - List
        - tuple
        - set
        - dictionary

In [6]:
# varible declaration
# variableName = someValue
name = "Jay"
print(type(name))
print(name)
name = 2.3
print(type(name))
print(name)
name = True  # Boolean has only two value i.e. True,  False those are also considered as 1, 0 respectively
print(type(name))
print(name)
name = "Y"
print(type(name))
print(name)
name = 3 + 7j  # complex number (real number + imaginary number)
print(type(name))
print(name)

<class 'str'>
Jay
<class 'float'>
2.3
<class 'bool'>
True
<class 'str'>
Y
<class 'complex'>
(3+7j)

##Operators

In [29]:
#Arithmetic Operators
x = 10
y = 3
addition = x + y
print(addition)
subtraction = x - y
print(subtraction)
multiplication = x * y
print(multiplication)
division = x / y
print(division)
floor = x // y
print(floor)
modulus = x % y
print(modulus)

13
7
30
3.3333333333333335
3
1

In [4]:
#Comparison Operators
x = 10
y = 5
equals = x == y
not_equals = x != y
greater_than = x > y
less_than = x < y

In [5]:
#Logical Operators
a = True
b = False
logical_and = a and b
logical_or = a or b
logical_not = not a

In [6]:
#Assignment Operators
x = 10
x += 5  # Equivalent to x = x + 5

In [9]:
#Identity and Membership Operators
x = [1, 2, 3]
y = x
is_same = x is y
print(is_same)
is_in = 2 in x
print(is_in)
is_not_in = 5 in x
print(is_not_in)

True
True
False

##Input and Output

In [10]:
#Taking User Input
name = input("Enter your name: ")
print("Hello, " + name)

Enter your name: VaibhaV
Hello, VaibhaV

In [11]:
#Printing Output
print("This is a simple message.")

This is a simple message.

In [27]:
name = "VaibhaV"
surName = "Arde"
houseNumber = 480
print("My first name is %s" % name)
print("My house number is %d" % houseNumber)
print("My name is %s %s and house number is %d" %(name, surName, houseNumber))

My first name is VaibhaV
My house number is 480
My name is VaibhaV Arde and house number is 480

In [28]:
name = "VaibhaV"
surName = "Arde"
houseNumber = 480
print(f"My first name is {name}")
print(f"My house number is {houseNumber}")
print(f"My first name is {name} {surName} and house number is {houseNumber}")

My first name is VaibhaV
My house number is 480
My first name is VaibhaV Arde and house number is 480

##Comments and Documentation

In [13]:
#Single-line comments
# This is a single-line comment

In [14]:
#Multi-line comments (docstrings)
"""
This is a
multi-line comment.
"""

'\nThis is a\nmulti-line comment.\n'

# String slicing:

forward slicing

backword slicing

slicing:

variableName[startPosition:endPosition:jump]

endPosition: bydefault given endPosition is excluded while slicing

jump: bydefault jump is 1

In [7]:
studentName = "Jay Jadhav"
studentName1 = "VaibhaV Arde"
firstName = studentName[0:3]
print(firstName)
lastName = studentName[4::1]
print(lastName)
nameLength = len(studentName)
print(nameLength)
certerChar = studentName1[int(len(studentName1) / 2)]
print(studentName1[int(len(studentName1) / 2)])
print(certerChar)
print(7 / 2)
print(int(4 / 2))

Jay
Jadhav
10
V
V
3.5
2

In [8]:
# Reverese
randomString = "wertyuisdfghjkvbnm"
print(randomString[::-1])
print(randomString[::-2])

mnbvkjhgfdsiuytrew
mbkhfsute

In [9]:
# # typecasting
num = 6789
print(str(num))
print(type(str(num)))

6789
<class 'str'>

In [1]:
studentName1 = "VaibhaV Arde"
print(studentName1.upper())
print((studentName1.upper()).isupper())
print(studentName1.lower())
print((studentName1.lower()).isupper())

print(studentName1.count("a"))  # 2
print(studentName1.count("A"))  # 1
print(studentName1.title())  # Vaibhav Arde
print(studentName1.capitalize())  # Vaibhav arde

VAIBHAV ARDE
True
vaibhav arde
False
2
1
Vaibhav Arde
Vaibhav arde

##Data Structures ✅

Data structures are fundamental to Python and are used to store and organize data.

Data structures in Python:

    - Lists
    - Tuples
    - Sets
    - Dictionaries

List ✅

Lists are ordered, mutable (changeable), and allow duplicate elements.

Lists are created by enclosing elements in square brackets [].

List has indices, index starts from 0

List can store any type of varible

In [57]:
fruits = ["apple", "banana", "cherry"]
numbers = [1, 2, 3, 4, 5]
mixed_list = [1, "apple", True, 3.14]
fruits, numbers, mixed_list

(['apple', 'banana', 'cherry'], [1, 2, 3, 4, 5], [1, 'apple', True, 3.14])

Common Operations:

In [58]:
# Accessing elements:
first_fruit = fruits[0]  # Access the first element (index 0)
first_fruit

'apple'

In [59]:
# Modifying elements:
fruits[1] = "orange"  # Change the second element to "orange"
fruits

['apple', 'orange', 'cherry']

In [60]:
# Adding elements:
fruits.append("strawberry")  # Add "strawberry" to the end
fruits

['apple', 'orange', 'cherry', 'strawberry']

In [61]:
# Adding elements at index
fruits.insert(2, 'Mango')
fruits

['apple', 'orange', 'Mango', 'cherry', 'strawberry']

In [62]:
# Removing elements:
fruits.remove("cherry")
fruits

['apple', 'orange', 'Mango', 'strawberry']

In [63]:
# List length:
num_fruits = len(fruits)  # Get the number of elements in the list
num_fruits

4

In [64]:
fruit = fruits.pop()  # Removes last element
print(fruit)
fruits

strawberry

['apple', 'orange', 'Mango']

In [67]:
randomList = [
    1,
    345,
    9.3,
    "d",
    "VaibhaV",
    2 + 5j,
    True,
    {"name": "VaibhaV"},
    {"number": 1234567890},
    fruits,
]

# print(randomList)
print(randomList[-1][-1][1:4])

ang

Tuples ✅

Tuples are ordered and immutable (cannot be changed).

Tuples are created by enclosing elements in parentheses () or simply separating them with commas.

Tuple has indices, index starts from 0

Tuple can store any type of varible

In [76]:
# Example
point = (3, 4, 4, 4, 4, 4, 4, 4)  # Tuple with two elements
person = ("Alice", 30, "New York")  # Mixed data types

In [77]:
# Accessing elements:
name = person[0]  # Access the first element
name

'Alice'

In [78]:
# Tuple packing and unpacking:
x, y, z= person  # Unpack the tuple into x and y
x, y, z

('Alice', 30, 'New York')

In [79]:
person.index("New York")

2

In [80]:
point.count(4)

7

Sets ✅

Sets are unordered, mutable (changeable), and do not allow duplicate elements.

Sets are created by enclosing elements in curly braces {}.

Set has hasing

Set has no duplicates

Set has no sequence/order

So sets are mutable but can't contain mutable items, because set internally uses hashtable to store its elements so for that set elements need to be hashable. But mutable elements like list are not hashable.

In [86]:
# Example
colors = {"red", "green", "blue"}
fruits = {"apple", "banana", "apple"}  # Duplicates are removed
colors, fruits

({'blue', 'green', 'red'}, {'apple', 'banana'})

In [87]:
# Adding elements
colors.add("yellow")  # Add a new element "yellow"

In [88]:
# Removing elements
colors.remove("red")  # Remove the element "red"
colors

{'blue', 'green', 'yellow'}

In [89]:
# Set operations (union, intersection, difference, etc.)
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)  # Union of two sets
union_set

{1, 2, 3, 4, 5}

Dictionaries ✅

Dictionaries are unordered, mutable, and store data in key-value pairs.

Dictionaries are created by enclosing elements in curly braces {}.

A dictionary is changeable and do not allow duplicates.

Values in a dictionary can be of any data type and can be duplicated, whereas keys can’t be repeated and must be immutable.

In [97]:
# Example
person = {
    "name": "Alice",
    "age": 30,
    "location": "New York"
}

In [98]:
# Accessing values
name = person["name"]  # Access value associated with the "name" key
name

'Alice'

In [99]:
# Modifying values
person["age"] = 31  # Change the age to 31
person

{'name': 'Alice', 'age': 31, 'location': 'New York'}

In [100]:
# Adding new key-value pairs
person["job"] = "Engineer"  # Add a new key "job" with value "Engineer"
person

{'name': 'Alice', 'age': 31, 'location': 'New York', 'job': 'Engineer'}

In [101]:
#Removing key-value pairs
del person["location"]  # Remove the "location" key-value pair
person

{'name': 'Alice', 'age': 31, 'job': 'Engineer'}

In [106]:
# Creating a Nested Dictionary and fetching data
Dict2 = {1: "Geeks", "me": "For", 3: {"A": "Welcome", "B": "To", "C": "Geeks"}}
print(Dict2)

print(Dict2["me"])
print(Dict2[3]["C"])
print(Dict2[3]["A"])
Dict2.update({4: "Test"})
print(Dict2)
Dict2[3]["B"] = "Two"
print(Dict2)

{1: 'Geeks', 'me': 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': 'Geeks'}}
For
Geeks
Welcome
{1: 'Geeks', 'me': 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': 'Geeks'}, 4: 'Test'}
{1: 'Geeks', 'me': 'For', 3: {'A': 'Welcome', 'B': 'Two', 'C': 'Geeks'}, 4: 'Test'}

In [107]:
#pop
print(Dict2.pop("me"))
print(Dict2)
print(Dict2.popitem())
print(Dict2)

For
{1: 'Geeks', 3: {'A': 'Welcome', 'B': 'Two', 'C': 'Geeks'}, 4: 'Test'}
(4, 'Test')
{1: 'Geeks', 3: {'A': 'Welcome', 'B': 'Two', 'C': 'Geeks'}}

In [108]:
#popitem
Dict1 = {1: "Geeks", "me": "For", 3: {"A": "Welcome", "B": "To", "C": "Geeks"}}
print(Dict1)
print(Dict1.popitem())
print(Dict1)

{1: 'Geeks', 'me': 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': 'Geeks'}}
(3, {'A': 'Welcome', 'B': 'To', 'C': 'Geeks'})
{1: 'Geeks', 'me': 'For'}

In [109]:
#update
Dict1.update({"me": "For"})
print(Dict1)
Dict1.update({"me1": "For"})
print(Dict1)
Dict1.update({"me0": "For"})
print(Dict1)

{1: 'Geeks', 'me': 'For'}
{1: 'Geeks', 'me': 'For', 'me1': 'For'}
{1: 'Geeks', 'me': 'For', 'me1': 'For', 'me0': 'For'}

✅ In Python, you can access keys, values, and key-value pairs (items) from a dictionary using various methods

In [110]:
#Example:
person = {
    "name": "Alice",
    "age": 30,
    "location": "New York"
}

In [111]:
# Getting Keys
keys = person.keys()
print(keys)

for key in person:
    print(key)

dict_keys(['name', 'age', 'location'])
name
age
location

In [113]:
# Getting Values
values = person.values()
print(values)

for key in person:
    value = person[key]
    print(value)

dict_values(['Alice', 30, 'New York'])
Alice
30
New York

In [115]:
# Getting Key-Value Pairs (Items)
# the items() method returns a list of tuples, where each tuple contains a key-value pair.
items = person.items()
print(items)

for key, value in person.items():
    print(key, ":", value)

dict_items([('name', 'Alice'), ('age', 30), ('location', 'New York')])
name : Alice
age : 30
location : New York